<footer class="footer mt-5">
	<div class="container">
		<div class="about-footer">

			<div class="footer-infos">
				<p>Yoann Georges</p>
				<p>Guide de Haute Montagne</p>
			</div>
			<div class="img">
				<img src="{{asset('images/logo-uiagm.png')}}" alt="Logo uiagm" width="140">
				<img src="{{asset('images/logo.png')}}" alt="Logo Directicimes" width="140">
			</div>
			<div class="coords">
				<ul>
					<li>
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						Briançon</li>
					<li>
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="tel:06645984568" title="Téléphone">+33 6 45 98 45 68</a>
					</li>
					<li>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:georgesyn@gmail@@com" onmouseover="this.href=this.href.replace('@@','.')" title="E-mail">georgesyn@gmail.com</a>
					</li>

					<li>
						<!-- Social icons -->
						<div class="social-links">
							<a href="https://facebook.com/directicimes/" target="_new" title="Facebook">
								<i class="fab fa-facebook-f mr-3"></i>
							</a>
							<a href="https://instagram.com/directicimes" target="_new" title="Instagram">
								<i class="fab fa-instagram mr-3"></i>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-copyright">
			© 2020 Copyright
			<a href="https://sylvainpillet.com/" target="_new" title="Portfolio">
				S Pillet
			</a>

		</div>
	</div>
</footer>
